@import 'https://cdn.jsdelivr.net/gh/inbolso/design-sytem@master/dist/design-system.css';

.container-image {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 24px;
  margin: 48px 0;
}

.container-image img {
  width: 250px;
}
